/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

/* Schrijf hier  jouw CSS! */

.one
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.two
{
    display: flex;
    justify-content: space-between;
}

.three
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.five
{
    display: flex;
    flex-wrap: wrap;
}

article
{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 360px;
}